<div id="cabecera" class="zona">
    <nav id="selectorIdioma">
            
        {% if app.user('userLogged') %}
            <p>Hola {{ app.user('userLogged').username }}, <a href="{{path('app_logout')}}">Salir</a></p>
        {% else %}
            <p><a href="{{ path('app_login') }}">Iniciar sesión</a></p>
        {% endif %}
        
        <a href="#">Español</a>
        <a href="#">Inglés</a>
    </nav>
    <header>
        <img src="{{ asset('img/deportes.jpg') }}" alt="Logo página" width="150">
        <div>
            <h1>Noticiario futbolero</h1>
            <h2>Noticias de actualidad</h2>
        </div>
    </header>
</div>