<footer id="footer" class="zona">
    <nav>
        <a href="#">Inicio</a>
        <a href="#">Aviso legal</a>
        <a href="#">Política de privadidad</a>
    </nav>
    <div id="social">
        <a href="#"><img src="{{ asset('img/fb.png') }}" alt="facebook"></a>
        <a href="#"><img src="{{ asset('img/twitter.png') }}" alt="twitter"></a>
    </div>
</footer>