{% extends 'base.html.twig' %}

{% block title %}Hello RegistroController!{% endblock %}

{% block body %}

    <div class="col-8 offset-2">
        <h1>Formulario de registro</h1>
        <div class="row">
            {{ form(frmRegistro) }}
        </div>
    </div>

{% endblock %}
