{% extends 'base.html.twig' %}

{% block title %}Hello DondeEstamosController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hola Usuario! ✅</h1>

    <p>El proyecto consiste en el montaje de una página web en la que se visionaran distintas noticias sobre el mundo deportivo, pero más focalizado en el futbol. La página web tendrá la sección de noticias en las que se mostraran las noticias de actualidad del momento y que se podrán buscar o filtrar por una categoría en concreto que en este caso serán las que determinen sobre que deporte estamos hablando.</p>

    <p>Por lo que se montara un servidor, en este caso de manera local mediante un xampp pero si se quiere llevar algo más grande se puede montar un servidor o contratar algún plan de servidores web, en este caso se estudiara que tipo de servidor sería más conveniente para el montaje de este en una máquina virtual pero de cara a la fase de pruebas es más sencillo utilizarlo mediante xampp.</p> 

    <p>En cuanto al sitio web que se ha creado podemos ver como se ha dicho anteriormente las distintas noticias de actualidad sobre el mundo del deporte, pero ya en la fase más administrativa de la web podemos encontrarnos con un administrador de noticias, categorías y usuarios. En estas secciones podemos crear, eliminar y modificar las noticias, categorías y usuarios. En cuanto al apartado de usuarios habrá distintos roles que estar asociados a diferentes cuentas de usuario además de que se podrá acceder a la web y visionar las distintas noticias sin necesidad de estar registrado o de haber iniciado sesión. Se dispondrá de una opción de contacto del usuario con los administradores y que ahí se podrán hacer preguntas, sugerencias, etc.</p>
    
    <p>Aparte de toda la puesta en marcha del servidor, se realizarán diferentes estudios de los componentes hardware para ver si dan a basto o hay que ampliarlo ya que se queda obsoleto o tiene mucha demanda. También realizaremos pruebas para ver como poder comercializar la web. </p>

</div>
{% endblock %}
