{% extends 'base.html.twig' %}

{% block title %}Hello DondeEstamosController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio nisi harum sit debitis minima obcaecati, tempora porro facilis? Perferendis provident aut autem rem beatae accusantium repellendus suscipit ea numquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio nisi harum sit debitis minima obcaecati, tempora porro facilis? Perferendis provident aut autem rem beatae accusantium repellendus suscipit ea numquam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio nisi harum sit debitis minima obcaecati, tempora porro facilis? Perferendis provident aut autem rem beatae accusantium repellendus suscipit ea numquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio nisi harum sit debitis minima obcaecati, tempora porro facilis? Perferendis provident aut autem rem beatae accusantium repellendus suscipit ea numquam?</p>
</div>
{% endblock %}
